name: CI Pipeline
on:
  pull_request:
    branches: [ main, development, master, production, staging ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.11'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Run tests
              env:
                  DATABASE_URL: postgresql+psycopg2://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/${{ secrets.POSTGRES_DB }}
              run: |
                  echo "Running tests..."
                  echo "Pytest has not been configured yet."

    lint:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.11'

            - name: Install black
              run: |
                    echo "Installing black..."
                    echo "Not installing any linter for now."

            - name: Run black
              run: |
                  echo "Running black..."
                  echo "Not running any linter for now."

    build-docker:
        runs-on: ubuntu-latest
        needs: [ lint ]
        steps:
            - uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build and push Docker image
              uses: docker/build-push-action@v4
              with:
                  context: .
                  push: false
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ github.repository.name }}:${{ github.sha }}